@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--main-bg);
    color: var(--white);
    font-family: 'Outfit';
    font-size: 18px;
}

.card-wrapper {
    width: 100%;
}

.card {
    position: absolute;
    background-color: var(--card-bg);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 25px;
    border-radius: 16px;
}

.nft-image {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 30px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.eth,
.eth-time {
    display: flex;
    align-items: center;
}

.eth > img,
.eth-time > img {
    margin-right: 7px;
}

.eth p {
    font-weight: 600;
    color: var(--cyan);
}

.eth-time p {
    font-weight: 300;
    color: var(--soft-blue);
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--line);
    margin: 20px 0;
}

.card-holder h1,
.content {
    margin-bottom: 15px;
}

.content {
    font-weight: 300;
    line-height: 30px;
    color: var(--soft-blue);
}

.avatar {
    display: flex;
    align-items: center;
}

.avatar img {
    border: 2px solid var(--white);
    border-radius: 50%;
    width: 40px;
    margin-right: 20px;
}

.grey {
    color: var(--soft-blue);
    font-weight: 300;
}

@media (min-width: 576px) {
    .card {
        max-width: 350px;
    }
}